<nav class="navbar navbar-dark bg-dark p-4">
    <div class="container-fluid">
            <div class="fw-bold mb-2 text-uppercase fs-3" style="color: aliceblue;">State bank of india</div>
        
        
    </div>
</nav>

<div class="gradient-custom">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card bg-dark text-white" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">
                        <form [formGroup]="registrationForm" (ngSubmit)="register()">
                            <div class="mb-md-5 mt-md-4 pb-5">


                                <h2 class="fw-bold mb-2 text-uppercase">Register</h2>
                                <p class="text-white-50 mb-5">Please enter your login Details !</p>

                                <div class="form-outline form-white mb-4">
                                    <!-- property binding -syntax:[] -->
                                    <!-- event binding using $event as argument syntax:(change)="get_acno($event) -->
                                    <!-- templete reference syntax: #acno -->
                                    <!-- two way bibding ngModel [{ngModel}]="acno"-->
                                    <input type="text" name="name" formControlName="name" id="typename" class="form-control form-control-lg" />
                                <div style="color: brown;" *ngIf="((this.registrationForm.get('name')?.dirty)||this.registrationForm.get('name')?.touched)&&(this.registrationForm.get('name')?.errors)">Enter Valid User Name</div>
                                    <label class="form-label"  for="typename">Please enter your name !</label>
                                </div>

                                <div class="form-outline form-white mb-4">
                                    <!-- property binding -syntax:[] -->
                                    <!-- event binding using $event as argument syntax:(change)="get_acno($event) -->
                                    <!-- templete reference syntax: #acno -->
                                    <!-- two way bibding ngModel [{ngModel}]="acno"-->
                                    <input type="text" formControlName="acno" name="acno"  id="typeaccount" class="form-control form-control-lg" />
                                    <div style="color: brown;" *ngIf="((this.registrationForm.get('acno')?.dirty)||this.registrationForm.get('acno')?.touched)&&(this.registrationForm.get('acno')?.errors)">Enter Valid Account Number</div>
                                    <label class="form-label"  for="typeaccount">AccountNumber</label>
                                </div>

                                <div class="form-outline form-white mb-4">
                                    <!-- event binding using $event as argument syntax:(change)="get_password($event) " -->
                                    <!-- templete reference syntax: #pswd -->
                                    <input type="password" formControlName="pswd" name="pswd"  id="typePasswordX"
                                        class="form-control form-control-lg" />
                                        <div style="color: brown;" *ngIf="((this.registrationForm.get('pswd')?.dirty)||this.registrationForm.get('pswd')?.touched)&&(this.registrationForm.get('pswd')?.errors)">Enter Valid Password</div>

                                    <label class="form-label" for="typePasswordX">Password</label>
                                </div>


                                <p class="small mb-5 pb-lg-2"><a class="text-white-50" href="#!">Forgot password?</a>
                                </p>
                                <!--event binding  (click)="login()-->
                                <!-- templete reference passing argument -->
                                <button class="btn btn-outline-light btn-lg px-5" 
                                    type="submit"> Register</button>

                                <div class="d-flex justify-content-center text-center mt-4 pt-1">
                                    <a href="#!" class="text-white"><i class="fab fa-facebook-f fa-lg"></i></a>
                                    <a href="#!" class="text-white"><i class="fab fa-twitter fa-lg mx-4 px-2"></i></a>
                                    <a href="#!" class="text-white"><i class="fab fa-google fa-lg"></i></a>
                                </div>

                            </div>

                            <div>
                                <p class="mb-0">Already Have an Acccount ??? <a routerLink="" class="text-white-50 fw-bold">LogIn</a></p>
                            </div>

                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
