.gradient-custom{
     width: 100%;  
     min-height: 100vh;
     display: -webkit-box;
     display: -webkit-flex;
     display: -moz-box;
     display: -ms-flexbox;
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     align-items: center;
     padding: 15px;
   
     background: #2575fc;
     background: -webkit-linear-gradient(left, #6a11cb, #2575fc);
     background: -o-linear-gradient(left, #6a11cb, #2575fc);
     background: -moz-linear-gradient(left, #6a11cb, #2575fc);
     background: linear-gradient(left, #6a11cb, #2575fc);
}
   